# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.DS_Store
mask_rcnn/mask_rcnn_coco.h5
mask_rcnn/data
mmlab/linemod
mmlab/data
mmlab/work_dirs
.vscode/
.vscode/settings.json
mmlab/ape
mmlab/data